.footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 3rem;
    padding-top: 1.5rem;
    text-align : center;
    font-size: 1.125rem;
    --tw-text-opacity: 1;
    color: gray;
    border-top: solid 1px;
    border-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.footer:hover {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));	
}