.navMenu {
	display: flex;
	align-items: center;
  }
  
  .navItem{
	font-size: 1.25rem;
	color: gray;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 2rem;
	height: 100%;
	cursor: pointer;
  }